body {
    background-color: #f2f2f2;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    width: 300px;
    margin: 20px;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card h2{
    font-family: 'Courier New';
}
h1{
background: aquamarine;
}
.card p {
    color: #666;
    font-family: Arial;
}
